
body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top-container{
padding-top: 2rem;
/* background-color: rgb(214, 247, 247); */
background-color: white;
height: 100%;
text-align: center;

}

.bg_image{
    display: block;
    margin: auto;
    width: 40rem;
    padding-bottom: 3rem;
}
.navbar-brand{
    margin-bottom: 1.5rem;
}
.nav_bg{
    /* background-color: rgb(214, 247, 247); */
    background-color: white;
}
.nav_button{
padding-right: 13%;
   font-size: 1.5rem;
}

@media(max-width:1250px){
    .bg_image{
        width:60rem ;
   padding-top: 3rem;
   padding-bottom: 5rem;
    }
/* top container */
}
.heading_main{
    color: green;
    margin-top: 0px;
    text-align: center;
}
.heading-down{
padding: 0.7rem ;
text-align: center;
}
.top_button1{
    margin-top: 2rem;

}

/* middle container */
.middle-container{
    padding-top: 5rem;
    text-align: center;
}

/* https://www.flaticon.com/animated-icons-most-downloaded */
.icon{
margin-bottom: 2.5rem;
margin-top: 3.5rem;
    width: 10rem;
}
p{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
