<%-include("header")-%>


<!-- my code -->

<div class="top-container">   
   
    <!-- <h1 class="heading_main">SALTIFY</h1> -->
  
    <img class="bg_image" src="images/background_image_bg_removed.png" alt="SALTIFY">  
    <h1 class="heading-down">Quality is all that matters.</h1>
    <p class="heading-down-p">We Craft the finest bamboo salt for you quality and purity in every grain.</p>
    <a href="/#purchase" type="button btn" class="btn btn-light btn-lg top_button1">Try our Product</a>
  </div>
<div id="about" class=" middle-container">

  <!-- <i class="fa fa-car " style="font-size:48px;"></i>
  <i class="fa fa-heart"></i> -->
  <div class="row">
    <div class="col-md-6 col-lg-4 col1 col-sm-6 ">
      <img src="icons/explosion.gif" alt="" class="icon">
      <h3>ANTI INFLAMMATORY</h3>
      <p class="info-text-p">Bamboo salt's unique composition lends itself to potent anti-inflammatory properties, making it particularly beneficial for individuals dealing with conditions like arthritis by reducing inflammation in the body.</p>
    </div>
    <div class="col-md-6 col-lg-4 col1 col-sm-6">
      <img src="icons/connection.gif" alt="" class="icon">
    <h3>RICH IN ANTIOXIDANTS</h3>
    <p class="info-text-p">Boasting a high antioxidant content, bamboo salt aids in neutralizing free radicals. This not only supports overall health but also plays a pivotal role in preventing cellular damage associated with oxidative stress.</p>
    </div>
    <div class="col-md-6 col-lg-4 col1 col-sm-6">
      <img src="icons/world-cancer-day.gif" alt="" class="icon">
      <h3>ANTI CANCER EFFECTS</h3>
      <p class="info-text-p">Preliminary studies suggest that bamboo salt exhibits potential anti-cancer properties, showing promise in inhibiting the growth of cancer cells. However, further research is necessary to comprehensively understand its role in cancer prevention and treatment.</p>
    </div>
    <div class="col-md-6 col-lg-4 col1 col-sm-6">
      <img src="icons/arthritis.gif" alt="" class="icon">
    <h3>SUPPORT JOINT & BONE HEALTH</h3>
    <p class="info-text-p">Enriched with essential minerals such as calcium, magnesium, and phosphorus, bamboo salt contributes significantly to maintaining robust bones and supporting joint health.</p>
    </div>
    <div class="col-md-6 col-lg-4 col1 col-sm-6">
      <img src="icons/heartbeat.gif" alt="" class="icon">
     <h3>GOOD FOR HEART, CONTROL CHOLESTROL</h3>
     <p class="info-text-p">Bamboo salt's mineral composition, including potassium and magnesium, contributes to cardiovascular health. Potassium aids in regulating blood pressure, while magnesium plays a role in maintaining a healthy heart rhythm.</p>
    </div>
    <div class="col-md-6 col-lg-4 col1 col-sm-6 col-sm-6">
      <img src="icons/nutrients.gif" alt="" class="icon">
  <h3>84 TRACE MINERALS</h3>
  <p class="info-text-p">Standing out with a rich profile of 84 trace minerals, bamboo salt encompasses essential elements like zinc, selenium, and iron. These minerals play crucial roles in various physiological functions.</p>
    </div>
  </div>
</div>
<!-- purchase container -->
<div id="purchase" class="bottom-container ">
  <h1 class="purchase_heading">The Saltify Products.</h1>
  <div class="row">
     <div class=" col-lg-4 col-sm-12 ">
     <div class="product">
      <img class="salt_img" src="images/100g.png" alt="">
      <h5 class="buy_text">Saltify 6x Bamboo Salt, Alkaline, Six Times Roasted, Powdered (100 g)</h5>
      <a href="https://www.amazon.in/Saltify-Bamboo-Alkaline-Roasted-Powdered/dp/B0CG654FGK/ref=sr_1_1?crid=3QYQH0UUXVEDE&keywords=saltify&qid=1703933667&sprefix=saltify%2Caps%2C273&sr=8-1&th=1" type="button btn" class="btn btn-light btn-lg buy_btn">Purchase</a>
     </div>
     </div>
     <div class="col-lg-4 col-sm-12  ">
      <div class="product">
        <img class="salt_img" src="images/240g.png" alt="">
        <h5 class="buy_text">Saltify 6x Bamboo Salt, Alkaline, Six Times Roasted, Powdered (240 g)</h5>
        <a href="https://www.amazon.in/Saltify-Bamboo-Alkaline-Roasted-Powdered/dp/B0CG64L274/ref=sr_1_1?crid=3QYQH0UUXVEDE&keywords=saltify&qid=1703933667&sprefix=saltify%2Caps%2C273&sr=8-1&th=1" type="button btn" class="btn btn-light btn-lg buy_btn">Purchase</a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-12">
      <div class="product">
        <img class="salt_img" src="images/500g.png" alt="">
        <h5 class="buy_text">Saltify 6x Bamboo Salt, Alkaline, Six Times Roasted, Powdered (500 g)</h5>
        <a href="https://www.amazon.in/Saltify-Bamboo-Alkaline-Roasted-Powdered/dp/B0CG643B3R/ref=sr_1_1?crid=1CRY0XSBE5GDH&keywords=saltify&qid=1703513452&sprefix=saltif%2Caps%2C279&sr=8-1&th=1" type="button btn" class="btn btn-light btn-lg buy_btn">Purchase</a>
      </div>
     </div>
    </div>
</div>


<!-- review container -->
 <div id="review" class="review-container">
  <div id="carouselExampleAutoplaying" class="carousel slide review_main" data-bs-ride="carousel ">
    <div class="carousel-inner review_main_second">
      <div class="carousel-item active review_text_div">
        <h1># Saltify</h1>
        <p>Great product !
          Authentic bamboo salt available in cheap price and great quality
          I would recommend anyone to buy this product</p>
      </div>
      <div class="carousel-item review_text_div">
        <h1># Saltify</h1>
        <p>I love that Saltify brings traditional bamboo salt to the Indian market. After switching to Saltify Bamboo Salt, I've noticed improvements in my digestion and overall energy. The taste is fantastic, and I’ve had friends and family ask about it after tasting my food. Unlike regular salt, this one seems gentler and healthier. I’m glad I took a chance on it—worth every penny!
          It's definitely something special!❤️</p>

          </div>
      <div class="carousel-item review_text_div">
        <h1># Saltify</h1>  
        <p>I’ve tried Himalayan pink salt and sea salt in the past, but Saltify’s Bamboo salt is in a league of its own. The unique preparation method adds layers of minerals and a natural essence that others just don’t have. Even the presence of microplastic and other harmful impurities is eliminated due to its traditional baking method. Unrefined with no additives and no Anti-caking agent, if you’re debating between salts, go for Bamboo salt and that too from Saltify—you won’t regret it!</p>
       </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 </div>
 




<%-include("footer")-%>